{%extends 'photos/base.html'%}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col"> 
            <a class="btn btn-dark my-3" href="{% url 'gallery'%}">Go Back</a>
        
        <div style="height:100vh;">
            <img class="image-thumbnail" src="https://www.ccarprice.com/products/Mercedes-Benz-G-Class-G-350-d.jpg" alt="Card image cap"> 
            <p class="card-text">Category: Cars</p>
        </div>
    </div>
    </div> 
</div>
{% endblock %}