.container-fluid{
    background-color:beige;
    margin-top: 10px;
}
h1{
    color: royalblue;
}

  .two:after {
    content: "";
    display: table;
    clear: both;
  }
  .two {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap : 1rem
  }

  .display{
    width: 300px;
    height: 450px;
    
  }
  .my-4{
    margin-left: 100px;
  }
  .sidebar{
      margin-left: 50px;
  }
  img{
      max-width: 300px;
      max-height: 300px;
  }


  