{%extends 'photos/base.html'%}
{% block content %}
<div class="container">
    <div class="row m-3">
      <div class="col-md-9">
         <div class="row">
          {% for photo in photos %}
             <div class="col-md-4">
                <div class="card my-2" >
                  <p class="card-text">{{photo.author}}</p>
                    <img class="image-thumbnail" src="{{photo.image.url}}" alt="Card image cap">
                    <div class="card-body">
                      <p class="card-text">Category: {{photo.category}}</p>
                      <p class="card-text"><em>{{photo.location}}</em></p>

                    </div>
                    <a href="{% url 'photo' photo.id %}" class="btn btn-dark btn-sm m-1 text-white"> View</a>
                  </div>
             </div>
         </div>
         {% empty %}
         <h1>No photos available</h1>
         {% endfor %}
      </div>
      <div class="col-md-3">
        <div class="card" style="width: 18rem;">
            <div class="card-header">
              Categories
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">All</li>
              {% for category in categories %}
              <li class="list-group-item">{{category.category}}</li>
              {% endfor %}
  
            </ul>
          </div>
      </div>
    </div>
  </div>
{% endblock %}