{%extends 'pictures/base.html'%}

 {% block content %}

 <div class="container">

  <div class="col"> 
    <a class="btn btn-dark my-3" href="/">Go Back</a>
</div>
<div class="view">
    <!-- <p class="card-text">{{post.author.username}}</p> -->
    <img class="image-thumbnail" src="{{post.image.url}}" alt="Card image cap" style="width:400px" height="400px">
    <p ><em >{{post.created}}</em><br>{{post.description}}<br>{{post.category}}<br><em>{{post.location}}</em></p>
</div>


 </div>

 {% endblock %}