{%extends 'pictures/base.html'%}
{% block content %}
<div class="container-fluid">
    <h1 class="text-center"> Welcome to The-Photo-Gallery</h1>
    <div class="row">
        <div class="col-md-3">
            <div class="card mt-4" style="width: 18rem;">
                <ul class="list-group list-group-flush">
                <li class="list-group-item">Categories:</li>
                <li class="list-group-item">
                    <a href="{% url 'list' %}">All</a>
                </li>
                {% for category in object_list %}
                 <li class="list-group-item">
                     <a href="{% url 'list' %}?category={{category.category}}">{{category.category}}</a>
                </li>
                {% endfor %}
                  <a href="{% url 'new' %}" class="btn btn-dark" >Create new post</a>
                </ul>

              </div>
           
        </div>
        <div class="col-md-9">
            <div class="row two mb-3">
                {% for image in object_list %}
                <div class="col-md-4 my-4 " >    
                    <div class="card display">
                        <p class="card-text">{{image.author.username}}</p>
                         <img src="{{image.image.url}}"style="text-align:center;">
                        <div class="card-body">
                            <p >{{image.description}}<br>Category:{{image.category}}<br><em >{{image.created}}</em><br><em>{{image.location}}</em></p>
                            <a href="{% url 'image' image.id %}" class="btn btn-dark" >View post</a>
                         
                        </div>
                      </div>
                </div>
                {% endfor %}
            </div>

        </div>
    </div>
</div>
{% endblock %}